export DWM=${HOME}/.local/share/dwm
export XIM_SERVERS=fcitx5
export GTK_IM_MODULE=fcitx5
export QT_IM_MODULE=fcitx5
export XMODIFIERS=@im=fcitx5
export INPUT_METHOD=fcitx5
export PDL_IM_MODULE=fcitx5
export GLFW_IM_MODULE=ibus

xrandr --newmode "2560x1440" 312.25 2560 2752 3024 3488 1440 1443 1448 1493 -hsync +vsync #增加分辨率
xrandr --addmode Virtual-1 2560x1440
xrandr -s 2560x1440 #关于xrandr的这两行配置，每一行后面都不要加上"&"，否则nvidia驱动不能正常加载，会导致黑屏

#xrandr --newmode "1920x1080_60.00"  173.00  1920 2048 2248 2576  1080 1083 1088 1120 -hsync +vsync
#xrandr --addmode Virtual-1 1920x1080_60.00
#xrandr -s 1920x1080_60.00   #关于xrandr的这两行配置，每一行后面都不要加上"&"，否则nvidia驱动不能正常加载，会导致黑屏

if [ -f ~/.xmodmap ]; then
    xmodmap ~/.xmodmap
fi

# 启动本地剪贴板管理器
clipmenud &

# 启动 VMware Tools 用户服务
vmtoolsd -n vmusr &

